.hero {
  display: flex;
  margin: 5rem 2.5rem;
  justify-content: space-around;
  align-items: center;
}

.Img_Container {
  border-radius: 25%;
}

.hero_text {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}

.hero_text h1 {
  font-size: 3.2rem;
  color: white;
}

.hero_text span {
  font-size: x-large;
  color: #41e751;
}

.hero_text h2 {
  font-size: x-large;
  color: white;
}

.subheading {
  display: flex;
  gap: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.info h1 {
  color: white;
  margin: 2rem 2rem;
}

.infoCard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  align-items: center;
  gap: 2rem;
}

.subInformation {
  margin: 0rem 3rem;
  padding: 2rem;
  color: white;
  font-weight: lighter;
  box-shadow: inset 0px 0px 10px 0px rgba(211, 205, 205, 0.25);
  border-radius: 20px;
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column;
  }
  .Img_Container img {
    height: 15rem;
    width: 15rem;
  }
  .infoCard {
    flex-direction: column;
  }
}
